/* -----------------------------------------------------------------------------
// 1. Header 
// ----------------------------------------------------------------------------- */

// Header
// --------------------------------------------------
header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
}


// Logo
// --------------------------------------------------

// Put your logo's custom styles here.


// Navbar
// --------------------------------------------------

// All navbar styles are in "_navbar.scss" file in the "components" folder.

