/* -----------------------------------------------------------------------------
// 3. Hero Title 
// ----------------------------------------------------------------------------- */

//
// Table of content
// -----------------------------------------------------------------------------
// - Hero Title 


// Hero Title
// --------------------------------------------------
.hero-title {
    padding: 200px 0 100px 0;
    background-color: #aeaeae;
    text-align: center;

    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
    	-ms-background-size: cover;
    	 -o-background-size: cover;
    		background-size: cover;

    // title
    h2 {
        padding: 0 0 40px 0;
        font-size: 48px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
    }
}
